# Do not submit or pull configuration settings when interacting with GitHub.
*.ini.php
*.log
*.idea
stage/
.stage/
tmp/
pydio/
phpmyadmin/
.vscode/
plexredirect/
recent/
keeweb/
api/
cache/
test/
log/
/css/theme/
!/css/theme/Classic.css
!/css/theme/Modern.css
